@import './_variables.sass'

@mixin text-preset-1
  font-family: $font-primary
  font-size: $font-size-xl
  font-weight: $font-bold
  line-height: $line-height-tight
  letter-spacing: $letter-spacing-sm

@mixin text-preset-1-mobile
  font-family: $font-primary
  font-size: $font-size-lg
  font-weight: $font-bold
  line-height: $line-height-tight
  letter-spacing: $letter-spacing-sm

@mixin text-preset-2
  font-family: $font-primary
  font-size: $font-size-md
  font-weight: $font-semibold
  line-height: $line-height-normal
  letter-spacing: $letter-spacing-sm

@mixin text-preset-3
  font-family: $font-primary
  font-size: $font-size-sm
  font-weight: $font-regular
  line-height: $line-height-loose
  letter-spacing: $letter-spacing-md

@mixin text-preset-4
  font-family: $font-primary
  font-size: $font-size-xs
  font-weight: $font-regular
  line-height: $line-height-normal
  letter-spacing: $letter-spacing-md

