// Font Families
$font-primary: "DM Sans", sans-serif

// Font Weights
$font-bold: 700
$font-semibold: 600
$font-regular: 400

// Font Sizes
$font-size-xl: 64px
$font-size-lg: 40px
$font-size-md: 24px
$font-size-sm: 20px
$font-size-xs: 16px

// Line Heights
$line-height-tight: 100%
$line-height-normal: 130%
$line-height-loose: 140%

// Letter Spacing
$letter-spacing-sm: -1px
$letter-spacing-md: -0.6px

// Colors
$neutral900: #12131A
$neutral800: #21222C
$neutral700: #2A2837
$neutral600: #404254
$neutral200: #E4E4EF
$neutral100: #F2F2F7
$neutral0: #ffffff

$blue400: #D3A0FA
$blue500: #C27CF8

$yellow500: #FF9F00

$orange500: #FE8159
$orange800: #DA3701
